body {
	margin: 0px auto;
	background-color: #e8eeed;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

p, td, th, thead, tfoot, caption, li, h1, h2, h3, h4, h5, h6, caption {
	line-height: 160%;
}

h1, h2, h3, h4, h5 {
	font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
	font-weight: 700;
}

h6 {
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	font-weight: 400;
}

code, pre {
	font-family: "Source Code Pro", monospace;
	background-color: #f0f0f0;
}

code {
	border-radius: 3px;
	padding: 0px 3px;
	color: #ee5500;
}

pre {
	border-left: 3px solid #f5b036;
	padding-left: 10px;
	font-size: 10pt;
	line-height: 14pt;
	overflow: auto;
}

a:link {
	color: #447ed3;
}

a:visited {
	color: #447ed3;
}

a:hover {
	color: #ef2929;
}

p {
	margin: 1em 0px;
}

ul {
	margin: 1em 0px;
}

hr {
	border: 0px;
	height: 1px;
	background-color: #dddddd;
}

@media only screen and (max-width: 300px) {
	#logo {
		display: none;
	}

	#nav {
		left: 5px;
	}

	.visible-lg {
		display: none;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	#nav {
		left: 84px;
	}

	#logo {
		position: absolute;
		top: 10px;
		left: -74px;
		width: 64px;
		height: 64px;
	}

	.visible-lg {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	#container {
		margin: 120px 0px 0px 0px;
	}

	#nav {
		position: absolute;
		top: 5px;
	}

	#nav h1 {
		margin: 10px 0px;
	}

	#menu {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	#menu li {
		display: inline;
	}

	#menu a:link {
		padding: 3px;
		color: #000000;
		text-decoration: none;
	}

	#menu a:visited {
		color: #000000;
		text-decoration: none;
	}

	#menu a:hover {
		color: #ef2929;
		text-decoration: underline;
	}

	#social {
		margin: 0px;
	}

	#social img {
		border: 0px;
		width: 18px;
		height: 18px;
	}

	#content {
		padding: 10px;
	}
}

@media only screen and (min-width: 601px) {
	#container {
		margin: 0px 0px 0px 200px;
		max-width: 800px;
	}

	#nav {
		position: fixed;
		top: 50px;
		left: 0px;
		width: 200px;
		text-align: center;
	}

	#logo {
		width: 120px;
		height: 120px;
	}

	#menu {
		list-style-type: none;
		margin: 2em 0px 0px 0px;
		padding: 0px;
	}

	#menu a:link {
		display: block;
		margin: 0px;
		color: #000000;
		text-decoration: none;
	}

	#menu a:visited {
		color: #000000;
		text-decoration: none;
	}

	#menu a:hover {
		background-color: #bcd9f2;
	}

	#social {
		margin: 2em 0px;
	}

	#social img {
		border: 0px;
		width: 22px;
		height: 22px;
	}

	#content {
		padding: 30px;
	}
}

@media only screen {
	#content {
		min-height: 1200px;
	}
	body {
		border-top: 5px solid #3b4a67;
	}
}

@media only print {
	#nav {
		display: none;
	}
	#footer {
		display: none;
	}
}

#content {
	background-color: #ffffff;
	margin: 0px;
	color: #333333;
}

#footer {
	font-size: 90%;
	color: #ffffff;
	background-color: #3b4a67;
	padding: 5px 30px;
}

#footer p {
	margin: 0px;
}

#nav h1 {
	font-size: 20pt;
}

#nav h1 a:link {
	text-decoration: none;
	color: #476fb0;
}

#nav h1 a:visited {
	color: #476fb0;
}

#nav h1 a:hover {
	color: #476fb0;
}

#menu .active {
	font-weight: bold;
}

#social {
	list-style-type: none;
	padding: 0px;
}

#social li {
	margin: 0px;
	padding: 0px 0px 0px 3px;
	display: inline;
	line-height: 22px;
	vertical-align: middle;
	font-size: 16px;
}

#social li:first-child {
	padding: 0px;
}

#social a:link {
	height: 22px;
}

#content h1 {
	color: #000000;
}

#content h2 {
	margin-top: 30pt;
	color: #008c5b;
}

.published {
	color: #888888;
}

.post-compact-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.post-compact-list:first-child {
	padding-top: 0px;
}

.post-compact-list li {
	padding: 3px 0px;
	border-bottom: 1px dashed #cccccc;
}

.post-compact-list li:after { 
	content: "";
	display: block; 
	clear: both;
}
.post-compact-list a:link {
   	text-decoration: none;
}

.post-compact-list .published {
	font-size: 75%;
	float: right;
}

#post-list {
	margin: 0px 0px;
	list-style-type: none;
	padding: 0px 0px;
}

#post-list li {
	margin: 0px 0px;
	padding: 20pt 0px;
	border-top: 1px dashed #aaaaaa;
}

#post-list li:first-child {
	border: 0px;
}
	
#post-list h2, #post-list h3, #post-list h4, #post-list h5, #post-list h6 {
	margin: 1em 0px;
}

#content > h1:first-child {
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#content h1 a:link {
	color: #000000;
	text-decoration: none;
}

#content h1 a:visited {
	color: #000000;
}

#content h1 a:hover {
	color: #000000;
}

#tag-list, #cat-list, #author-list {
	list-style-type: none;
	padding: 0px;
}

table {
	border-collapse: collapse;
	border-width: 2px 0px 2px 0px;
	border-style: solid;
	border-color: #888888;
}
td {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #888888;
	padding: 5px 8px;
}
th {
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color: #888888;
	background-color: #f5f5f5;
	padding: 5px 8px;
}
table tr:nth-child(2n+1) {
	background-color: #f7fbff;
}
.footnote {
	border: 0px;
}
.footnote td, .footnote th {
	border: 0px;
}
.footnote tr:nth-child(2n+1) {
	background-color: transparent;
}
.normal-btn:link {
	color: #ff6600;
	padding: 5px 7px;
	border-radius: 5px;
	border: 1px solid #ff6600;
	text-decoration: none;
}
.normal-btn:visited {
	color: #ff6600;
}
.normal-btn:hover {
	color: #ffffff;
	background-color: #ff6600;
}

.sub-btn:link {
	color: #336655;
	padding: 5px 7px;
	border-radius: 5px;
	border: 1px solid #339955;
	text-decoration: none;
}
.sub-btn:visited {
	color: #339955;
}
.sub-btn:hover {
	color: #ffffff;
	background-color: #339955;
}
.paginator {
	text-align: right;
}

#content img {
	max-width: 100%;
}
